server:
  port: 8080

spring:
  application:
    name: order-management
  
  # Neon PostgreSQL Database
  datasource:
    url: jdbc:postgresql://ep-super-wildflower-adhdau9g-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channelBinding=require
    username: neondb_owner
    password: npg_rZkUOpySM0h4
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    com.logistics.ordermanagement: DEBUG
    org.hibernate.SQL: DEBUG
